<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; 
      any other head content must come *after* these tags -->
    
	<link 
	  rel="stylesheet" 
	  type="text/css" 
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	>

	  <link
	    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
	    rel="stylesheet" 
	    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
	    crossorigin="anonymous"
	  >

	<script type="text/javascript" src="/code/lib/paper-full.js"></script>
	
	<link 
		rel="stylesheet" 
		type="text/css" 
		href="/stylesheets/circles.css">
	
	<title>Circles</title>
</head>
<body>
	<div id="ctrl" class="col-md-4 ">
		<form class="form-horizontal">

			<h1><i class="fa fa-paint-brush" aria-hidden="true"></i> Draw a few circles</h1>

			<div class="form-group">
				<label for="nRows" class="col-sm-2 control-label">
					Rows:
				</label>
	           <input   
	                    type="number" 
	                    name="nRows"
	                    min="2" max="40"
	                    placeholder="Number of rows"
	                    value="8"
	            >
			</div>

			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      	<div class="checkbox">
						<input
				        	id="animate"
				        	type="checkbox"
				        	name="animate"
				        	value="animate"
				        >
		        		<label for="animate"> Animate Drawing</label>
			      </div>
			    </div>
			</div>
			
			<div class="form-group">
				<label for="nSeconds" class="col-sm-2 control-label">x/10s:</label>
                <input  
                    type="number" 
                    name="nSeconds"
                    min="2" max="100"
                    value = "10"
                    placeholder="x/10 s interval"
                >
		 	</div>
		 	
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      	<div class="checkbox">
						<input
				        	id="changeNumber"
				        	type="checkbox"
				        	name="change"
				        	value="change"
				        >
		        		<label 
		        			for="changeNumber"
		        		>
		        			Change # of rows at each cycle
		        		</label>
		        	</div>
			    </div>
			</div>
		</form>
        <button 
        	id="go"
        	class="btn btn-lg btn-success btn-block"
        >
        	<i class="fa fa-play" aria-hidden="true"></i> <strong> Draw them all!</strong>
        </button>
        <button 
        	id="stop"
            class="btn btn-lg btn-warning btn-block hide"
        >
        	<i class="fa fa-stop" aria-hidden="true"></i> Click to STOP
   		</button>
		<div class="panel-footer panel-info">
			<p id="status" class="panel panel-info"> footer </p>
		</div>
	</div>
	<div id="circles" class="col-md-8 panel">
		<canvas id="myCanvas" width="800" height="800"></canvas>
	</div>

<script type="text/javascript">

var canvas  = null;
var nRows 	= null;
var nSeconds = null;
var animate = null;
var pStatus = null;
var btnGo = null;
var btnStop = null;

var myPaper = null;

//
// control parms
var panelHeight = 800;
var minRadius = 3;
var defRows = 8;
var defSeconds = 10;	// well, x/10 seconds
var pRows = defRows;
var pAnimate = false;
var pSeconds = defSeconds;
var pChangeNumber = false;
var change = null;
var stop = null;

canvas  = document.getElementById("myCanvas");
pStatus = document.getElementById("status");
nRows 	= document.querySelector('input[name="nRows"]');
animate = document.getElementById("animate");
change = document.getElementById("changeNumber");
nSeconds = document.querySelector('input[name="nSeconds"]');
btnGo  	= document.getElementById("go");
btnStop	= document.getElementById("stop");

myPaper = new paper.PaperScope();
myPaper.setup(canvas);

nRows.focus();
pStatus.textContent = "Circles are drawn in N rows by N columns";

	function drawCircles(number)
	{
		var rows = number;
		var nCircles = rows * rows;
		var circles = [];

		// define a random color for a circle
		function getRandomColor()
		{
			var r = Math.floor(Math.random() * 256);
			var g = Math.floor(Math.random() * 256);
			var b = Math.floor(Math.random() * 256);
			return "rgb(" + r + ", " + g + ", " + b + ")";
		}	// end function()
	
		// define a random order for drawing the circles
		function fillCircles(nCircles, circles)
		{
			for(var ix = 0;(ix<nCircles); ix++)	{ circles[ix]=ix; }
			for
			(	
				var temp = 0,
					range = nCircles, 
					target=0;
	
				target<(nCircles-1);
	
				target++, 
				range--
			)
			{
				var origin = target + Math.floor(Math.random() * range);
				temp = circles[target];
				circles[target] = circles[origin];
				circles[origin] = temp;
			}	//	end for 
		}	// end function()
	
		//console.log("drawCircles");
		circles.length = nCircles;
		fillCircles(nCircles,circles);
		var unit = Math.floor(panelHeight/(rows+2));
		var radius = Math.floor(unit/3);
		if(radius < minRadius)
		{
			// check for really small circles
			console.log("circles would be too small to draw. Aborting");
			return;
		}
		else
		{
			// clear canvas
			myPaper.project.activeLayer.removeChildren();
			myPaper.view.draw();
			// then draw them all
			for(var ix=0; ix<nCircles;ix++)
			{
				var x = unit + Math.floor(circles[ix] % rows) * unit;
				var y = unit + Math.floor(circles[ix] / rows) * unit;
				//console.log("circle " + ix + ": (" + x + "," + y + "), radius " + radius);
				new myPaper.Path.Circle(new paper.Point(x, y), radius).fillColor = getRandomColor();
			}	// end for
			myPaper.view.draw();
		}	// end if
	} // end function()

animate.onchange = 
 	function()
 	{
 		if(animate.checked)
 		{
 			pAnimate = true;
 		}
 		else
 		{
 			pAnimate = false;
 			pChangeNumber = false;
 		}
 	};	// end function()
 
change.onchange = 
 	function()
 	{
 		pChangeNumber = change.checked;
 	};	// end function();

btnGo.addEventListener(
	"click",	
 	function()
 	{
 		pRows = Number(nRows.value);
 		if((pRows<2) || (pRows>40)){pRows = defRows}
		pStatus.textContent = "Running...";
		drawCircles(pRows);
		if(pAnimate)
		{
	 		pSeconds = Number(nSeconds.value);
	 		if((pSeconds<10) || (pSeconds>50)){pSeconds = defSeconds}
	 		btnGo.classList.add("disabled");
	 		
	 		btnStop.classList.add("visible");
	 		btnStop.classList.remove("disabled");
	 		btnStop.classList.remove("hide");
	 		
			stop = setInterval(
				function()
				{
					if(pChangeNumber)
					{
						var n = Math.floor(Math.random() * 39) + 2;
						nRows.value = n;
						drawCircles(n);
					}
					else
					{
						drawCircles(pRows);
					}
				}, 
				100*pSeconds);
		}
		else
		{
			pStatus.textContent = "Circles are drawn in N rows by N columns";
		}	// end if
 	}	// end function()
);	// end event...

btnStop.addEventListener(
	"click",	
 	function()
 	{
 		// first of all, stop drawing
		pStatus.textContent = "Stopping...";
 		clearInterval(stop);
		pStatus.textContent = "Circles are drawn in N rows by N columns";
 		btnGo.classList.remove("disabled");
 		
 		btnStop.classList.add("disabled");
 		btnStop.classList.add("hide");
 		
 		var items = document.querySelectorAll(".second");
 		for (var i=0;i<items.length;i++)
 		{
 			items[i].classList.remove("visible");
 		}
 		pAnimate = false;
 		animate.checked = false;
 		pChangeNumber = false;
 		change.checked = false;
 		nRows.value = defRows;
 		nSeconds.value = defSeconds;
 	}	// end function()
);	// end event...

</script>
</body>
</html>