canvas {
	background: black;
	display: block;
	margin: 20px auto;
}

body {
    padding-top: 70px;
    /*background: #060625;*/
    background: black;
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-inverse {
    background: #2C3E50;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav {
    color: white;
}

#ctrl {
    width: 30%;
    margin: 2.5%;
    float: left;
    border-radius: 5%;
    background-color: #a3bbe2;  
}

#circles {
    width: 60%;
    margin: 2.5%;
    /*background-color: #a3bbe2;*/
    background-color: black;
    border-radius: 5%;
}

#go, #stop {
    width:60%;
    margin: 6px auto;
    
}

h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-weight: 700;
}

.input-group-addon {
  text-align: left;
}

.second {
    display: none;
}

.visible {
    display: block;
}

.hide {
    display: none;
}

.panel-info {
    padding-top: 6px;
    background-color: #a3bbe2;
}